@font-face
    font-family: my_font
    src: url('./fonts/Notulen Serif Display Extra Bold.otf')
    
$contentbg: rgba(4, 68, 77, 0.9)
$buttonbg: rgb(2, 88, 101)
$buttonbg_dark: rgb(2, 40, 44) 
    
body
    //background-color: linear-gradient(to right, rgb(1, 17, 19), rgb(4, 68, 77) 50%, rgb(1, 17, 19) 100%)
    background-image: url("/wp-content/uploads/2023/01/wood-background.jpg")
    background-size: cover 
header, footer, main
    max-width: 980px 
    width: 90% 
    padding: 10px 
    margin: auto
.logo 
    transform: translateX(27px) 
    display: flex 
    width: 95% 
.socialMediaContainer 
    padding-top: 10px
    padding-bottom: 10px 
    display: flex 
    width: 100% 
    height: 100% 
    justify-content: space-evenly
    //align-items: right 
    border-radius: 5px 
    a
        //display: flex
        //flex-direction: column
        //justify-content: center
        //align-items: center
        //color: black
        img
            height: 50px
article 
    padding: 10px 
    background-color: $contentbg
    display: flex
    flex-direction: column
    //overflow: scroll
    //height: 100%
    //width: 100%
    border-radius: 5px 
nav 
    width: 100% 
    height: 30px 
    padding: 0 
    margin: 0 
    display: flex 
    font-family: my_font, serif
    a 
        display: flex 
        width: 100% 
        height: 100% 
        background-color: $buttonbg //rgb(160, 132, 86) 
        color: black 
        align-items: center 
        justify-content: center 
        font-size: large 
        text-decoration: none
        color: rgb(160, 132, 86) 
        &:hover 
            background-color: $buttonbg_dark
            cursor: pointer 
    :first-child 
        border-radius: 15px 0 0 15px 
    :last-child 
        border-radius: 0 15px 15px 0 
.product
    //overflow: scroll
.topgallery
    display: flex
    padding-bottom: 10px 
    img
        max-height: 200px
        padding-right: 10px
.subgallery_container
    display: flex
    justify-content: space-between
    p
        display: flex
        align-items: center
        background-color: $buttonbg
        //visibility: hidden
        &:hover
            background-color: $buttonbg_dark
    .subgallery
        display: flex
        overflow: hidden
        height: 200px
        scroll-behavior: smooth
        justify-content: flex-start
        img
            max-height: 200px
            padding-right: 10px
#galleryoverlay
    position: fixed
    display: flex
    visibility: hidden
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.8)
    z-index: 2
    justify-content: space-evenly
h2
    font-family: my_font, serif