@font-face {
  font-family: my_font;
  src: url("./fonts/Notulen Serif Display Extra Bold.otf");
}
body {
  background-image: url("/wp-content/uploads/2023/01/wood-background.jpg");
  background-size: cover;
}

header, footer, main {
  max-width: 980px;
  width: 90%;
  padding: 10px;
  margin: auto;
}

.logo {
  transform: translateX(27px);
  display: flex;
  width: 95%;
}

.socialMediaContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  border-radius: 5px;
}
.socialMediaContainer a img {
  height: 50px;
}

article {
  padding: 10px;
  background-color: rgba(4, 68, 77, 0.9);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

nav {
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: my_font, serif;
}
nav a {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 88, 101);
  color: black;
  align-items: center;
  justify-content: center;
  font-size: large;
  text-decoration: none;
  color: rgb(160, 132, 86);
}
nav a:hover {
  background-color: rgb(2, 40, 44);
  cursor: pointer;
}
nav :first-child {
  border-radius: 15px 0 0 15px;
}
nav :last-child {
  border-radius: 0 15px 15px 0;
}

.topgallery {
  display: flex;
  padding-bottom: 10px;
}
.topgallery img {
  max-height: 200px;
  padding-right: 10px;
}

.subgallery_container {
  display: flex;
  justify-content: space-between;
}
.subgallery_container p {
  display: flex;
  align-items: center;
  background-color: rgb(2, 88, 101);
}
.subgallery_container p:hover {
  background-color: rgb(2, 40, 44);
}
.subgallery_container .subgallery {
  display: flex;
  overflow: hidden;
  height: 200px;
  scroll-behavior: smooth;
  justify-content: flex-start;
}
.subgallery_container .subgallery img {
  max-height: 200px;
  padding-right: 10px;
}

#galleryoverlay {
  position: fixed;
  display: flex;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  justify-content: space-evenly;
}

h2 {
  font-family: my_font, serif;
}/*# sourceMappingURL=style.css.map */